In [1]:
from dask import dataframe as dd

In [2]:
import datetime

In [3]:
def time_exe():
    now = datetime.datetime.now()
    print (now.strftime("%Y-%m-%d %H:%M:%S"))

In [4]:
time_exe()

2020-07-03 11:46:07

In [5]:
def chunk_filtering_yearwise_data(data_):
    return data_[(data_[5]>1994) & (data_[5] <2006)]

In [6]:
onemb ='googlebooks-eng-all-5gram-20120701-xq'

In [7]:
dd = dd.read_csv(onemb,
                            sep='\s+',
                            header=None, blocksize=64000000,error_bad_lines=False,
                            encoding='utf-8',engine='python')

In [8]:
dd.head()

             0    1        2    3         4     5   6   7
0  XQuery_NOUN  ,_.  XPath_X  ,_.  and_CONJ  2002   7   3
1  XQuery_NOUN  ,_.  XPath_X  ,_.  and_CONJ  2004   5   4
2  XQuery_NOUN  ,_.  XPath_X  ,_.  and_CONJ  2005   1   1
3  XQuery_NOUN  ,_.  XPath_X  ,_.  and_CONJ  2006  18  10
4  XQuery_NOUN  ,_.  XPath_X  ,_.  and_CONJ  2007  15  12

In [9]:
dd.tail()

          0    1  2   3    4     5   6   7
331  XQuery  1.0  :  An  XML  2004  77  45
332  XQuery  1.0  :  An  XML  2005  78  51
333  XQuery  1.0  :  An  XML  2006  58  37
334  XQuery  1.0  :  An  XML  2007  38  30
335  XQuery  1.0  :  An  XML  2008  37  33

In [10]:
start = 1995
end = 2005
step = 1

In [11]:
import os

In [12]:
ls

 Volume in drive E is Daat
 Volume Serial Number is 00E8-39C4

 Directory of E:\download\proj\n5grm\small_ds

07/02/2020  11:23 PM    <DIR>          .
07/02/2020  11:23 PM    <DIR>          ..
07/02/2020  10:35 PM    <DIR>          .ipynb_checkpoints
07/02/2020  11:23 AM    <DIR>          dd1995_2005
07/02/2020  11:57 AM     1,282,253,688 dd1995_2005_fastparquet.hdf
07/02/2020  06:52 PM    <DIR>          googlebooks-eng-all-5gram-20120701-co_1995_2005_pyarrow
06/23/2020  11:17 AM            10,307 googlebooks-eng-all-5gram-20120701-gq
06/23/2020  11:20 AM     1,098,745,074 googlebooks-eng-all-5gram-20120701-gu
06/24/2020  03:31 PM         4,388,595 googlebooks-eng-all-5gram-20120701-np
06/24/2020  06:48 PM            13,833 googlebooks-eng-all-5gram-20120701-xq
07/02/2020  11:08 PM             4,704 n5grmYearWiseSplit_dask.ipynb
07/02/2020  11:18 PM             1,707 n5grmYearWiseSplit_dask.py
07/02/2020  10:35 PM            14,345 n5grmYearWiseSplit_dask-Copy1.ipynb
07/02/2020  11:33 PM    <DIR>          scripts
07/02/2020  02:35 PM            53,969 Untitled.ipynb
07/02/2020  09:23 PM            18,926 usingDask.ipynb
07/03/2020  11:43 AM    <DIR>          yearwise
              10 File(s)  2,385,505,148 bytes
               7 Dir(s)  1,547,340,054,528 bytes free

In [13]:
folderpath = 'yearwise'

year_dd.shape[0].compute()

path = os.path.join(folderpath,str(start),onemb)
print(path)

year_dd.to_parquet(path,engine='pyarrow')

year_dd.to_parquet('googlebooks-eng-all-5gram-20120701-co_1995_2005_pyarrow',engine='pyarrow')

In [19]:
def split_data_year_wise(startyear,stopyear,yearsetp,basepath):
    print("start time")
    time_exe()
    stopyear= stopyear+1
    for i in range(startyear, stopyear, yearsetp):
        year_dd = dd[dd[5]==i]
        path = os.path.join(basepath,str(i),onemb)
        if not os.path.exists(path):
            os.makedirs(path)
        print("{}=>{}".format(i,path))
        year_dd.to_parquet(path,engine='pyarrow')
        #year_dd.to_csv(path)
    print("finisheed time")
    time_exe()

def split_data_year_wise(startyear,stopyear,yearsetp,basepath):
    print('im in')
    print(startyear)
    print(stopyear)
    for i in range(startyear, stopyear, yearsetp):
        print(i)

In [20]:
split_data_year_wise(start,end,step,folderpath)

start time
2020-07-03 11:48:33
1995=>yearwise\1995\googlebooks-eng-all-5gram-20120701-xq
1996=>yearwise\1996\googlebooks-eng-all-5gram-20120701-xq
1997=>yearwise\1997\googlebooks-eng-all-5gram-20120701-xq
1998=>yearwise\1998\googlebooks-eng-all-5gram-20120701-xq
1999=>yearwise\1999\googlebooks-eng-all-5gram-20120701-xq
2000=>yearwise\2000\googlebooks-eng-all-5gram-20120701-xq
2001=>yearwise\2001\googlebooks-eng-all-5gram-20120701-xq
2002=>yearwise\2002\googlebooks-eng-all-5gram-20120701-xq
2003=>yearwise\2003\googlebooks-eng-all-5gram-20120701-xq
2004=>yearwise\2004\googlebooks-eng-all-5gram-20120701-xq
2005=>yearwise\2005\googlebooks-eng-all-5gram-20120701-xq
finisheed time
2020-07-03 11:48:33

 year_dd = dd[dd[5]==1996]

year_dd.head()

dd.tail()

dd.shape[0].compute()

top_links_grouped_dask = dfd.loc[
    dfd[‘referrer_type’].isin([‘link’]), 
    [‘coming_from’,’article’, ‘n’]]\
        .groupby([‘coming_from’, ‘article’])

#d1 = dd.loc[dd['0']].groupby(['5'])
dd.groupby([5])[6].count().compute()